#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.carrito {
  width: 50px;
}

.nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(196, 97, 97, 0.778);
}

button {
  margin: 50px;
}